---
title: Wavefront by VMware Nozzle for Pivotal Platform
owner: Partners
---

This documentation describes the Wavefront by VMware Nozzle integration for Pivotal Platform.
Use this integration to monitor the health and performance of your Pivotal Platform deployment and apps using Wavefront.

The integration retrieves metrics about your Pivotal Platform deployment from the Loggregator Firehose and BOSH Health Monitor and sends them to Wavefront.
Additionally, the integration also provides a mechanism for developers to send app metrics to Wavefront.

## <a id='overview'></a>Overview

Wavefront is a cloud-hosted service where you send your time-series (metric) data –
from Telegraf, CollectD, StatsD, JMX, Ruby’s logger, AWS, Pivotal Platform, etc.

You can then perform arbitrary mathematical operations on any number of those series,
render charts to see anomalies or KPI dashboards, and ultimately create truly intelligent alerts to proactively watch over your entire stack.

The Wavefront by VMware Nozzle for Pivotal Platform tile includes three components:

  * A Wavefront Nozzle that retrieves metrics about your Pivotal Platform deployment from the Loggregator Firehose and BOSH Health Monitor and sends them to Wavefront.
  * A Wavefront Proxy that sends metrics to Wavefront in a secure, fast and reliable manner.
  * A Wavefront Service Broker for Pivotal Platform that enables developers to send their app metrics to Wavefront.

The Wavefront Service Broker for Pivotal Platform exposes service plans on the Marketplace.
Developers can create service plan instances using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI) and bind them to their apps.

Creating a Wavefront Proxy for Pivotal Platform service instance and binding it to an app provides
the routing information of a Wavefront proxy to the app.
This lets developers send app metrics to Wavefront through the proxy.

Wavefront's integration with Pivotal Platform includes:

   * Summary visualization of key Pivotal Platform metrics
   * Built-in Pivotal Platform dashboards with configurable alerts
   * Ability to handle millions of metrics per second

For more information about Wavefront by VMware, see https://wavefront.com.


## <a id='features'></a>Key Features

Wavefront by VMware Nozzle for Pivotal Platform includes the following key features:

* Send metrics about your Pivotal Platform deployment to Wavefront.
* Bind Wavefront to any app running on Pivotal Platform


## <a id="snapshot"></a>Product Snapshot


The following table provides version and version-support information about Wavefront by VMware Nozzle for Pivotal Platform.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v2.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 7, 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Wavefront Nozzle v1.2.0, Wavefront Proxy v5.7, and Wavefront Service Broker v0.9.5</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.5.x, v2.6.x, v2.7.x and v2.8.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.5.x, v2.6.x, v2.7.x and v2.8.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Wavefront by VMware Nozzle for Pivotal Platform has the following requirements:

+ Read-only administrative access to the Doppler Firehose and Cloud Controller.
+ A Wavefront account and API token.
+ A Pivotal Platform Quota with at least 8G of available memory.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please contact
<a href="https://communities.vmware.com/community/vmtn/wavefront">Wavefront Support</a>.

## <a id='license'></a>License

This integration is released under the Apache 2.0 license.
