---
title: Wavefront by VMware Nozzle for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The Wavefront by VMware Nozzle for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This documentation describes the Wavefront by VMware Nozzle integration for Pivotal Cloud Foundry (PCF).
Use this integration to monitor the health and performance of your PCF deployment and apps using Wavefront.

The integration retrieves metrics about your PCF deployment from the Loggregator Firehose and BOSH Health Monitor and sends them to Wavefront.
Additionally, the integration also provides a mechanism for developers to send app metrics to Wavefront.

## <a id='overview'></a>Overview

Wavefront is a cloud-hosted service where you send your time-series (metric) data –
from Telegraf, CollectD, StatsD, JMX, Ruby’s logger, AWS, PCF, etc.

You can then perform arbitrary mathematical operations on any number of those series,
render charts to see anomalies or KPI dashboards, and ultimately create truly intelligent alerts to proactively watch over your entire stack.

The Wavefront by VMware Nozzle for PCF tile includes three components:

  * A Wavefront Nozzle that retrieves metrics about your PCF deployment from the Loggregator Firehose and BOSH Health Monitor and sends them to Wavefront.
  * A Wavefront Proxy that sends metrics to Wavefront in a secure, fast and reliable manner.
  * A Wavefront Service Broker for PCF that enables developers to send their app metrics to Wavefront.

The Wavefront Service Broker for PCF exposes service plans on the Marketplace.
Developers can create service plan instances using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI) and bind them to their apps.

Creating a Wavefront Proxy for PCF service instance and binding it to an app provides
the routing information of a Wavefront proxy to the app.
This lets developers send app metrics to Wavefront through the proxy.

Wavefront's integration with PCF includes:

   * Summary visualization of key PCF metrics
   * Built-in PCF dashboards with configurable alerts
   * Ability to handle millions of metrics per second

For more information about Wavefront by VMware, see https://wavefront.com.


## <a id='features'></a>Key Features

Wavefront by VMware Nozzle for PCF includes the following key features:

* Send metrics about your PCF deployment to Wavefront.
* Bind Wavefront to any app running on PCF


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Wavefront by VMware Nozzle for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.9.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 10, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Wavefront Nozzle v0.9.1, Wavefront Proxy v4.24, and Wavefront Service Broker v0.9.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.x, v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Wavefront by VMware Nozzle for PCF has the following requirements:

+ Read-only administrative access to the Doppler Firehose and Cloud Controller.
+ A Wavefront account and API token.
+ A PCF Quota with a route and a port available.
+ A PCF TCP domain and port for the Wavefront Proxy.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
<a href="mailto:support@wavefront.com">Wavefront Support</a>.

## <a id='license'></a>License

This integration is released under the Apache 2.0 license.
