---
title: VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

This topic contains details on the future location of documentation for VMware Tanzu Observability by Wavefront Nozzle.

##<a id="4.x"></a> Changes as of v4.0

As of v4.0, documentation for Tanzu Observability by Wavefront nozzle from Tanzu Ops Manager is provided as part of the [Wavefront documentation](https://docs.wavefront.com/integrations_tas_howto.html).

Documentation for [v3.x](https://docs.pivotal.io/wavefront-nozzle/3-x/) will remain available here on docs.pivotal.io.
