---
title: VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

<strong>Page last updated: May 18, 2021</strong>

This documentation describes the VMware Tanzu Observability by Wavefront Nozzle integration for VMware Tanzu Application Service for VMs (TAS for VMs).
Use this integration to monitor the health and performance of your VMware Tanzu Application Service for VMs (TAS for VMs) deployment and apps by using [Tanzu Observability by Wavefront](https://docs.wavefront.com).

The integration retrieves metrics about your VMware Tanzu Application Service for VMs (TAS for VMs) deployment from the Loggregator Firehose and sends them to Tanzu Observability by Wavefront.
Additionally, the integration also provides a mechanism for developers to send app metrics to Wavefront.

## <a id='overview'></a>Overview

Tanzu Observability by Wavefront (Wavefront) is a cloud-hosted service where you send your time-series (metric) data –
from Telegraf, CollectD, StatsD, JMX, Ruby’s logger, AWS, VMware Tanzu, etc.

You can then perform arbitrary mathematical operations on any number of those series,
render charts to see anomalies or KPI dashboards, and ultimately create truly intelligent alerts to proactively watch over your entire stack.

The VMware Tanzu Observability by Wavefront Nozzle tile includes three components:

  * A VMware Tanzu Observability by Wavefront Nozzle that retrieves metrics about your VMware Tanzu Application Service for VMs (TAS for VMs) deployment from the Loggregator Firehose and sends them to Wavefront.
  * A VMware Tanzu Observability by Wavefront Proxy that sends metrics to Wavefront in a secure, fast and reliable manner.
  * A VMware Tanzu Observability by Wavefront Service Broker for VMware Tanzu Application Service for VMs (TAS for VMs) that enables developers to send their app metrics to Tanzu Observability.

The VMware Tanzu Observability by Wavefront Service Broker exposes service plans on the Marketplace.
Developers can create service plan instances using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI) and bind them to their apps.

Creating a VMware Tanzu Observability by Wavefront Proxy for VMware Tanzu service instance and binding it to an app provides
the routing information of a Wavefront proxy to the app.
This lets developers send app metrics to Wavefront through the proxy.

Tanzu Observability by Wavefront integration with VMware Tanzu Application Service for VMs (TAS for VMs) includes:

   * Summary visualization of key VMware Tanzu Application Service for VMs (TAS for VMs) metrics
   * Built-in VMware Tanzu Application Service for VMs (TAS for VMs) dashboards with configurable alerts
   * Ability to handle millions of metrics per second

For more information about Tanzu Observability, see https://tanzu.vmware.com/observability.


## <a id='features'></a>Key Features

VMware Tanzu Observability by Wavefront Nozzle includes the following key features:

* Send metrics about your VMware Tanzu Application Service for VMs (TAS for VMs) deployment to Wavefront.
* Bind Wavefront to any app running on VMware Tanzu Application Service for VMs (TAS for VMs)


## <a id="snapshot"></a>Product Snapshot


The following table provides version and version-support information about VMware Tanzu Observability by Wavefront Nozzle.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v3.0.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Novemeber 15, 2021</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>VMware Tanzu Observability by Wavefront Nozzle v1.3.1, VMware Tanzu Observability by Wavefront Proxy v9.2, and VMware Tanzu Observability by Wavefront Service Broker v0.9.5</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.5.x, v2.6.x, v2.7.x, v2.8.x, v2.9.x, and v2.10.x</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs version(s)</td>
        <td>v2.5.x, v2.6.x, v2.7.x, v2.8.x, v2.9.x, v2.10.x, and v2.11.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

VMware Tanzu Observability by Wavefront Nozzle has the following requirements:

+ A read-only administrative access to the Doppler Firehose and Cloud Controller.
+ A Wavefront account and API token.
+ A VMware Tanzu Quota with at least 8G of available memory.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please contact
<a href="https://communities.vmware.com/community/vmtn/wavefront">Tanzu Observability Support</a>.

## <a id='license'></a>License

This integration is released under the Apache 2.0 license.
