---
title: Release Notes for VMware Tanzu Observability by Wavefront Nozzle 2.x
owner: Partners
---

These are release notes for VMware Tanzu Observability by Wavefront Nozzle 2.x.

##<a id="ver"></a> v2.1.3

**Release Date:** September 15, 2020

* Support for custom metrics prefix

##<a id="ver"></a> v2.1.2

**Release Date:** June 11, 2020

* Performance improvements

##<a id="ver"></a> v2.1.0

**Release Date:** May 13, 2020

* Support for air-gapped TAS deployments.
* Wavefront Proxy logs ingestion configuration support.

##<a id="ver"></a> v2.0.0

**Release Date:** February 7, 2020

* Support for v2 Nozzle API
* Performance improvements
* Deprecated support for the v1 API