---
title: Release Notes for VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

These are release notes for VMware Tanzu Observability by Wavefront Nozzle.

##<a id="ver"></a> v3.0.0

**Update Date:** May 10, 2021

* Updated the Installation and Configuration instructions and added information about how to apply filters to control the metrics ingested to the Wavefront service.

**Release Date:** February 5, 2021

* Includes Wavefront Proxy v9.2

