---
title: Release Notes for VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

<strong>Page last updated: December 15, 2021</strong>

These are release notes for VMware Tanzu Observability by Wavefront Nozzle.

##<a id="3-0-4"></a> v3.0.4

**Release Date:** December 15, 2021

* Follow up fix to completely close the loop on prior vulnerability.
* For releases prior to 3.0.4, there is a workaround available to addres Log4J vulnerabilities without upgrading.
  * Apache foundation gives this guidance:

    ```
    In any release other than 2.16.0, you may remove the JndiLookup class from the classpath: zip -q -d log4j-core-*.jar org/apache/logging/log4j/core/lookup/JndiLookup.class
    ```

  * To execute this against our tile, you'll be using a slightly different command, the class file to be removed is built into `wavefront-proxy.jar`, so you would change the command to `zip -q -d wavefront-proxy.jar org/apache/logging/log4j/core/lookup/JndiLookup.class`
  * You'll also need to get access to the .jar inside of the .pivotal. The path to the .jar inside of the .pivotal file is `releases/wavefront-proxy-${VERSION}.tgz/packages/wavefront_proxy_pkg.tgz/wavefront-proxy.jar`

##<a id="3-0-3"></a> v3.0.3

**Release Date:** December 11, 2021

* Security fix for a vulnerability.

##<a id="3-0-2"></a> v3.0.2

**Release Date:** November 15, 2021

* Wavefront Proxy can now establish TLS connection with another Wavefront Proxy
* Default histograms for Gorouter latency and route lookup time
* Update to the **Gorouter Dashboard** section on the **TAS Integrations** tab

##<a id="3-0-1"></a> v3.0.1

**Release Date:** May 18, 2021

* Support to ingest metrics as Histograms.

##<a id="3-0-0"></a> v3.0.0

**Release Date:** February 5, 2021

* Includes Wavefront Proxy v9.2
