---
title: Release Notes for VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

These are release notes for VMware Tanzu Observability by Wavefront Nozzle.

##<a id="3-0-x"></a> v3.0.x

**Release Date:** MMM DD, 202X

*

##<a id="3-0-0"></a> v3.0.0

**Release Date:** February 5, 2021

* Includes Wavefront Proxy v9.2
