---
title: Release Notes for Wavefront by VMware Nozzle for PCF
owner: Partners
---

These are release notes for Wavefront by VMware Nozzle for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a> v0.9.3

**Release Date:** April 17, 2018

* The Wavefront Proxy is now a BOSH release within the tile instead of an app.
* TCP routing is not required anymore.
* Several improvements to the Wavefront Proxy.

##<a id="ver"></a> v0.9.2

**Release Date:** January 17, 2018

* Added reporting of internal nozzle metrics to Wavefront.

##<a id="ver"></a> v0.9.1

**Release Date:** October 10, 2017

* App names are now included in the app metrics sent to Wavefront (only app guid was supported previously).
* Added PCF foundation property, which can be used to filter metrics by PCF deployments in the dashboards.
* Several stability improvements.

##<a id="ver"></a> v0.9.0

**Release Date:** August 15, 2017

Features included in this release:

* Initial release of the Wavefront by VMware Nozzle for PCF.
* Includes a Wavefront Firehose Nozzle, Wavefront Proxy, and Wavefront Service Broker.
* Sends PCF platform and app metrics to Wavefront.
