---
title: Release Notes for Wavefront by VMWare Nozzle for PCF
owner: Partners
---

These are release notes for Wavefront by VMWare Nozzle for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a> v0.9.0

**Release Date:** August 24, 2017

Features included in this release:

* Initial release of the Wavefront by VMWare Nozzle for PCF.
* Includes a Wavefront Firehose Nozzle, Wavefront Proxy, and Wavefront Service Broker.
* Sends PCF platform and app metrics to Wavefront.
