---
title: Release Notes for VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

<strong>Page last updated: February 5, 2021</strong>

These are release notes for VMware Tanzu Observability by Wavefront Nozzle.

##<a id="ver"></a> v3.0.1

**Release Date:** May 19, 2021

* Support to ingest metrics as Histograms.

##<a id="ver"></a> v3.0.0

**Release Date:** February 5, 2021

* Includes Wavefront Proxy v9.2

