---
title: Using Wavefront by VMWare Nozzle for PCF
owner: Partners
---

This topic describes how to use Wavefront by VMWare Nozzle for PCF.

##<a id='using'></a> Using Wavefront by VMWare Nozzle for PCF

After installing the tile, you can monitor Pivotal Cloud Foundry's (PCF) health and performance
in Wavefront using the PCF integration within Wavefront. The key features of the integration include:

  * Summary visualization of key PCF metrics
    ![PCF Summary Dashboard](images/summary_dashboard.png)

  * Built-in PCF dashboards with configurable alerts
    ![Cloud Controller Dashboard](images/cloud_controller_dashboard.png)

Refer to the [documentation](https://docs.wavefront.com/integrations.html#in-product-integrations)
for a general overview of integrations within Wavefront.
