---
title: Using Wavefront by VMware Nozzle for Pivotal Platform
owner: Partners
---

This topic describes how to use Wavefront by VMware Nozzle for Pivotal Platform.

##<a id='using'></a> Using Wavefront by VMware Nozzle for Pivotal Platform

After installing the tile, you can monitor Pivotal Platform health and performance
in Wavefront using the Pivotal Platform integration within Wavefront.
The key features of the integration include:

  * A comprehensive set of dashboards that give an overview of your Pivotal Platform deployment and specific Pivotal Platform components:
    ![Pivotal Platform Summary Dashboard](images/pcf_dashboards.png)

  * Summary visualization of key Pivotal Platform metrics
    ![Pivotal Platform Summary Dashboard](images/summary_dashboard.png)

  * Built-in Pivotal Platform dashboards with configurable alerts
    ![Cloud Controller Dashboard](images/cloud_controller_dashboard.png)

For a general overview of integrations within Wavefront,
see the [Wavefront documentation](https://docs.wavefront.com/integrations.html#in-product-integrations).
