---
title: Using VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

This topic describes how to use VMware Tanzu Observability by Wavefront Nozzle.

##<a id='using'></a> Using VMware Tanzu Observability by Wavefront Nozzle

After installing the tile, you can monitor VMware Tanzu health and performance
in Wavefront by using the Pivotal Cloud Foundry integration within Wavefront.
The key features of the integration include:

  * A comprehensive set of dashboards that give an overview of your deployment and specific VMware Tanzu components:
    ![VMware Tanzu Summary Dashboard](images/pcf_dashboards.png)

  * Summary visualization of key VMware Tanzu metrics
    ![VMware Tanzu Summary Dashboard](images/summary_dashboard.png)
  
  * Summary visualization of application monitoring sample Redis
    ![Summary Dashboard Sample Redis](images/pcf_redis.png)

  * Built-in VMware Tanzu dashboards with configurable alerts
    ![Cloud Controller Dashboard](images/cloud_controller_dashboard.png)

  * PCF Wavefront Nozzle Self-monitoring Dashboard
    ![Summary Dashboard Sample Redis](images/self-monitoring.png)

See the [Tanzu Observability by Wavefront documentation](https://docs.wavefront.com) for details on cloning and customizing dashboards and chart, configuring alerts, 
and customizing the queries for your environment. 
