---
title: Using VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

This topic describes how to use VMware Tanzu Observability by Wavefront Nozzle.

##<a id='using'></a> Using VMware Tanzu Observability by Wavefront Nozzle

After installing the tile, you can monitor VMware Tanzu health and performance
in Wavefront using the VMware Tanzu integration within Wavefront.
The key features of the integration include:

  * A comprehensive set of dashboards that give an overview of your VMware Tanzu deployment and specific VMware Tanzu components:
    ![VMware Tanzu Summary Dashboard](images/pcf_dashboards.png)

  * Summary visualization of key VMware Tanzu metrics
    ![VMware Tanzu Summary Dashboard](images/summary_dashboard.png)

  * Built-in VMware Tanzu dashboards with configurable alerts
    ![Cloud Controller Dashboard](images/cloud_controller_dashboard.png)

For a general overview of integrations within Wavefront,
see the [Wavefront documentation](https://docs.wavefront.com/integrations.html#in-product-integrations).
