---
title: Using Wavefront by VMware Nozzle for PCF
owner: Partners
---

This topic describes how to use Wavefront by VMware Nozzle for Pivotal Cloud Foundry (PCF).

##<a id='using'></a> Using Wavefront by VMware Nozzle for PCF

After installing the tile, you can monitor PCF health and performance
in Wavefront using the PCF integration within Wavefront.
The key features of the integration include:

  * Summary visualization of key PCF metrics
    ![PCF Summary Dashboard](images/summary_dashboard.png)

  * Built-in PCF dashboards with configurable alerts
    ![Cloud Controller Dashboard](images/cloud_controller_dashboard.png)

For a general overview of integrations within Wavefront,
see the [Wavefront documentation](https://docs.wavefront.com/integrations.html#in-product-integrations).
