---
title: VMware Tanzu Observability by Wavefront Nozzle
owner: Partners
---

This topic contains details on the future location of documentation for VMware Tanzu Observability by Wavefront Nozzle.

##<a id="4.x"></a> Changes as of v4.0

Documentation for Tanzu Observability by Wavefront nozzle from Tanzu Ops Manager v4.0 and later is now available as part of the [Wavefront documentation](https://docs.wavefront.com/integrations_tas_howto.html).

Documentation for v3.x and v2.x will remain available here on docs.pivotal.io.
